<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/comentariosAgregar" method="post" TYPE="text/css" MEDIA=screen> 

 <div id="inputComentarios">
            <label for="comentarios"> Comentarios </label>
            <input type="string (2000)" name="comentarios" id="inputComentarios">
        </div>