<link rel="stylesheet" href="/css/comentarios/comentarios.css">
<div id="logo">
    <img src="/imagenes/logo.png" alt="">
</div>
<form action="/comentarios/comentariosAgregar/" method="post" TYPE="text/css" MEDIA=screen>

    <div id="titulo">
        <label>
            {{#each idMax}}
            Agregar N:
            <input type="text" name="idComentarios" id="numero" value="{{'MAX(idComentarios)'}}">
            {{/each}}
        </label>
    </div>

    <div id="inputComentarios">
        <label>Comentarios:</label>
        <textarea name="comentarios" id="InputComentarios" aria-checked="true" required maxlength="2000"></textarea>
    </div>