<link rel="stylesheet" href="/css/comentarios/comentariosEditar.css">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<div id="contenedor">
    {{#each lista}}
    <form action="/comentarios/comentariosEditar/{{idComentarios}}" method="post">
    <div id="titulo">
        <p>Agregar comentarios</p>
    </div>
    <div id="Comentarios">
        <label>Ingresar comentario </label>
        <input type="text" name="comentarios" value="{{comentarios}}" required>
    </div>
    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>

