<link rel="stylesheet" href="/css/comentarios/comentariosAgregar.css">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<div id="contenedor">
    <form action="/comentarios/comentariosAgregar/{{user.idUsuarios}}" method="post">
    <div id="titulo">
        <p>Agregar comentarios</p>
    </div>
    <div id="Comentarios">
        <label>Escriba su comentario</label>
        <input type="text" name="comentarios" required>
    <div id="boton">
        <button type="submit">GUARDAR</button>
    </div>
    </form>
</div>