body{
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;  
}

input{
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
button{
    background-color: rgba(0, 0, 255, 0.179);
    color: whitesmoke;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:focus{
    border-radius: 5px solid black;
}
a{
    text-decoration: none;
}

