<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/consejods/consejosAgregar" method="post" TYPE="text/css" MEDIA=screen>

<div id="tConsejo">
        <label>
            {{#each idMax}}
            Agregar Consejo:
            <input type="text" name="idConsejos" id="numero" value="{{'MAX(idConsejos)'}}">
            {{/each}}
        </label>
    </div>

    <div id="boton">
        <button type="button" onclick="consejo.crear()">Crear Consejo</button>
    </div>

    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>


