<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/consejods/consejosAgregar" method="post" TYPE="text/css" MEDIA=screen>

<div id="tConsejo">
    <label>Tema de Consejo</label>
    <input name="consejo" id="tConsejo" type="text" placeholder="nombre consejo">
</div>