<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="foroAgregar" method="post" TYPE="text/css" MEDIA=screen>
  <div id="iForo">
        <label for="foro">Ingresar foro</label>
        <input name="foro" id="foro" type="text" placeholder="foro">
    </div>
    <div id="temaForo">
        <label for="ingresar Tema">Ingresar foro</label>
        <input name="temaforo" id="temaForo" type="text" placeholder="temaForo">
    </div>
    <div id="fechaForo">
        <label for="ingresar Fecha">Ingresar fecha</label>
        <input name="fecha" id="fecha" type="text" placeholder="fecha">
    </div>
    <div id="horaFin">
        <label for="ingresar Hora">Ingresar Hora Final</label>
        <input name="horaFin" id="horaFin" type="text" placeholder="horaFin">
    </div>
</form>