<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/foro/foroAgregar" method="post" TYPE="text/css" MEDIA=screen>
  <div id="tForo">
        <label for="foro">Ingresar Foro</label>
        <input name="foro" id="tforo" type="text" placeholder="foro">
    </div>
    <div id="tTemaForo">
        <label for="temaForo">Foro</label>
        <input name="temaforo" id="tTemaForo" type="text" placeholder="temaForo">
    </div>
    <div id="tFechaForo">
        <label for="fecha">Fecha</label>
        <input name="fecha" id="tFecha" type="text" placeholder="fecha">
    </div>
    <div id="tHoraFin">
        <label for="horaFin">Hora Final</label>
        <input name="horaFin" id="tHoraFin" type="text" placeholder="horaFin">
    </div>
</form>