<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/foroAgregar" method="post" TYPE="text/css" MEDIA=screen>
    <div id="Foro">
        <div id="temaForo"> 
            <h2>Escribir tema</h2>
        </div>
        <div id="">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="button">
            <button type="submit">INGRESAR</button>
        </div>
    </div>
</form>