<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/recomendacionesAgregar" method="post" TYPE="text/css" MEDIA=screen>
  <div id="iRecomendaciones">
        <label for="recomendaciones">Ingresar recomendaciones</label>
        <input name="recomendaciones" id="recomendaciones" type="text" placeholder="recomendaciones">
    </div>
    <div id="descripcion">
        <label for="ingresar descripcion">Ingresar descripcion</label>
        <input name="descripcion" id="descripcion" type="text" placeholder="descripcion">
    </div>