<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/recomendaciones/recomendacionesAgregar" method="post" TYPE="text/css" MEDIA=screen>
    <div id="tRecomendaciones">
        <label>
            {{#each idMax}}
            Agregar Recomendaciones:
            <input type="text" name="idRecomendaciones" id="numero" value="{{'MAX(idRecomendaciones)'}}">
            {{/each}}
        </label>
        <div id="tRecomendaciones">
            <label for="recomendaciones">Ingresar recomendaciones</label>
            <input name="recomendaciones" id="Trecomendaciones" type="text" placeholder="recomendaciones">
        </div>
    
        <div id="tDescripcion">
            <label>Ingresar descripcion:</label>
            <textarea name="descripcion" id="Tdescripcion" aria-checked="true" required
            maxlength="2000"></textarea>
        </div>

        <div id="boton">
        <button type="button" onclick="Recomendaciones.crear()">Crear Recomendaciones</button>
        </div>
    
        <div id="button">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>