<link rel="stylesheet" href="/css/recomendaciones/recomendacionesEditar.css">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<div id="contenedor">
    {{#each lista}}
    <form action="/recomendaciones/recomendacionesEditar/{{idRecomendaciones}}" method="post">
    <div id="titulo">
        <p>Agregar recomendaci贸n</p>
    </div>
    <div id="Recomendacion">
        <label>Recomendaci贸n </label>
        <input type="text" name="recomendacion" value="{{recomendacion}}" required>
    </div>
    <div id="DescripcionRecomendacion">
        <label>Ingrese su descripci贸n sobre la recomendaci贸n</label>
        <input type="text" name="descripcionRecomendacion" value="{{descripcionRecomendacion}}" required>
    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>

