
<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
    <div id="movs"> 
        <div id="imagen">
            <img src="/imagenes/logo.jpeg">
            <img src="/imagenes/logo2.jpeg">
        </div>
        <div id="inicio">   
            <h2 id="Mensaje"> 
                ¡¡ El arte de atacar <br> al eslabón más debil !!
            </h2>
        </div>
        <div id="btn">
        <button type="submit">Continuar</button>
        </div>
    </div>
</form> 

</form>