
<LINK REL=StyleSheet HREF="/ISNTC.ADMIN/SRC/Public/css/index/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
    <div id="movs">
        <div id="imagen">
            <img src="/ISNTC.ADMIN/SRC/Public/imagenes/WhatsApp Image 2022-04-11 at 4.36.58 PM.jpeg">
        </div>
        <div id="inicio">
            <h2 id="Mensaje">
                ¡¡ El arte de atacar <br> al eslabón más debil !!
            </h2>
        </div>
        <div id="btn">
        <button type="submit">Continuar</button>
        </div>
    </div>
</form> 

</form>