<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/comentariosAgregar" method="post" TYPE="text/css" MEDIA=screen> 
<div id="nombreRol">
    <label>Rol</label>
    <input name="nombreRol" id="nombreRol" type="text" placeholder="nombreRol">
</div>