<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/rol/rolAgregar" method="post" TYPE="text/css" MEDIA=screen> 

<div id="tNombreRol">
    <label for="nombreRol">Rol</label>
    <input name="nombreRol" id="tNombreRol" type="text" placeholder="nombreRol">
</div>