<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="detalleForoAgregar" method="post" TYPE="text/css" MEDIA="screen"
    <div id="detalleForo">
    <label >Comentario detalle</label>
    <input name="detalleForo" id="detalleForo" type="text" placeholder="detalleForo">
    </div>
</form>
