<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/detalleForo/detalleAgregar" method="post" TYPE="text/css" MEDIA="screen"
    <div id="tDetalleForo">
    <label for="detalleForo" >Detalle Foro</label>
    <input name="detalleForo" id="tDetalleForo" type="text" placeholder="detalleForo">
    </div>
</form>
