<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/conferenciasAgregar" method="post" TYPE="text/css" MEDIA=screen> 
<div id="temaConferencia">
    <label>Conferencia</label>
    <input name="temaConferencia" id="temaConferencia" type="text" placeholder="temaConferencia">
</div>
<div id="descripcionConferencia">
    <label>Descripción de Conferencia</label>
    <input name="descripcionConferencia" id="descripcionConferencia" type="text" placeholder="descripcionConferencia">
</div>
<div id="fechaConferencia">
    <label>Fecha de Conferencia</label>
    <input name="fechaConferencia" id="fechaConferencia" type="text" placeholder="fechaConferencia">
</div>
<div id="direccionConferencia">
    <label>Dirección de Conferencia</label>
    <input name="direccionConferencia" id="direccionConferencia" type="text" placeholder="direccionConferencia">
</div>
