<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/conferiencias/conferenciasAgregar" method="post" TYPE="text/css" MEDIA=screen> 

<div id="tTemaConferencia">
    <label>Tema Conferencias</label>
    <input name="temaConferencia" id="tTemaConferencia" type="text" placeholder="temaConferencia">
</div>
<div id="tDescripcionConferencia">
    <label>Descripción de Conferencias</label>
    <input name="descripcionConferencia" id="tDescripcionConferencia" type="text" placeholder="descripcionConferencia">
</div>
<div id="tFechaConferencia">
    <label>Fecha de Conferencia</label>
    <input name="fechaConferencia" id="tFechaConferencia" type="text" placeholder="fechaConferencia">
</div>
<div id="tDireccionConferencia">
    <label>Dirección de Conferencia</label>
    <input name="direccionConferencia" id="tDireccionConferencia" type="text" placeholder="direccionConferencia">
</div>
