<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/conferencias/conferenciasLista/"{{user.idUsuarios}} method="post" TYPE="text/css" MEDIA=screen> 