<link rel="stylesheet" href="/css/proyecto/proyectoAgregar.css">
<div id="logo">
    <img src="/imagenes/logo.png" alt="">
</div>
<form action="/proyecto/proyectoAgregar/" method="post" TYPE="text/css" MEDIA=screen >

    <div id="titulo">  
        <label>
            {{#each idMax}}
            Número de proyecto:
            <input type="text" name="idProyectos" id="numero" value="{{'MAX(idProyectos)'}}">
            {{/each}}
        </label>
    </div>
    <div id="inputNombreProyecto">
        <label >Nombre Proyecto:</label>
        <input type="text" name="nombreProyecto" id="InputNombreProyecto">
    </div>
    <div id="inputDescripcionProyecto">
        <label>Descripción Proyecto:</label>
        <textarea name="descripcionProyecto" id="inputdescripcionProyecto" aria-checked="true" required
            maxlength="2000"></textarea>
    </div>
    <div id="inputMisionProyecto">
        <label>Misión Proyecto:</label>
        <textarea name="misionProyecto" id="inputmisionProyecto" aria-checked="true" required
            maxlength="1000"></textarea>

    </div>
    <div id="inputVisionProyecto">
        <label>Visión Proyecto:</label>
        <textarea name="visionProyecto" id="inputvisionProyecto" aria-checked="true" required
            maxlength="1000"></textarea>

    </div>
    <div id="objetivos">
        <label>Objetivos:</label>
        <input type="text" id="numeros" name="numeros" placeholder="Ingrese su número de objetivos" checked>
    </div>

    <div id="listaObjetivos"></div>

    <div id="Unico">
        <textarea name="unico" id="unico" maxlength="2500"></textarea>
    </div>

    <div id="boton">
        <button type="button" onclick="objetivos.crear()">Crear Objetivos</button>
    </div>

    <div id="InputCausasProyecto">
        <label for="causasProyecto">Causas Proyecto:</label>
        <textarea name="causasProyecto" id="inputcausasProyecto" aria-checked="true" required
            maxlength="1000"></textarea>

    </div>
    <div id="InputEfectosProyecto">
        <label for="efectosProyecto">Efectos Proyecto:</label>
        <textarea name="efectosProyecto" id="inputEfectosProyecto" aria-checked="true" required
            maxlength="1000"></textarea>
    </div>
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/objetivos.js"></script>