<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/proyecto/proyectoAgregar" method="post" TYPE="text/css" MEDIA=screen>

        <div id="inputNombreProyecto">
            <label for="nombreProyecto">Nombre Proyecto:</label>
            <input type="text" name="nombreProyecto" id="inputNombreProyecto">
        </div>
        <div id="inputdescripcionProyecto">
            <label for="descripcionProyecto">Descripción Proyecto:</label>
            <input type="string (2000)" name="descripcionProyecto:" id="inputdescripcionProyecto">
        </div>
        <div id="inputMisionProyecto">
            <label for="misionProyecto">Misión Proyecto:</label>
            <input type="string (1000)" name="misionProyecto" id="inputMisionProyecto">
        </div>
        <div id="inputVisionProyecto">
            <label for="visionProyecto">Visión Proyecto:</label>
            <input type="string (1000)" name="visionProyecto" id="inputVisionProyecto">
        </div>
       

       <div id="inputObjetivosProyecto">
            <label for="objetivosProyecto">Objetivos Proyecto:</label>
            <input type="string" name="objetivosProyecto" id="inputObjetivosProyecto">
        </div>
        <div id="inputCausasProyecto">
            <label for="causasProyecto">Causas Proyecto:</label>
            <input type="string (2000)" name="causasProyecto" id="inputCausasProyecto">
        </div>
         <div id="inputEfectosProyecto">
            <label for="efectosProyecto">Efectos Proyecto:</label>
            <input type="string (1000)" name="efectosProyecto" id="inputEfectosProyecto">
        </div> 
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/objetivos.js"></script>
 