<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/salas/salasAgregar" method="post" TYPE="text/css" MEDIA=screen>

<div id="tNombreSalas">
    <label for="nombreSalas">Nombre Salas</label>
    <input name="nombreSalas" id="tNombreSalas" type="text" placeholder="nombreSalas">
</div>
<div id="tCapacidadSalas">
    <label for="capacidadSalas" >Capacidad Salas</label>
    <input name="capacidadSalas" id="tCapacidadSalas" type="text" placeholder="capacidadSalas">
</div>