<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/salas/salasAgregar" method="post" TYPE="text/css" MEDIA=screen>

<div id="tNombreSalas">
        <label>
            {{#each idMax}}
            Agregar Nombre Salas:
            <input type="text" name="idSalas" id="numero" value="{{'MAX(idSalas)'}}">
            {{/each}}
        </label>
    </div>
    <div id="tnombreSalas">
        <label>Nombre de Salas:</label>
        <input type="text" name="nombreSalas" id="TnombreSalas">
    </div>

    <div id="tCapacidadSalas">
        <label>Capacidad de Salas:</label>
        <input type="text" name="capacidadSalas" id="TCapacidadSalas">
    </div>

    <div id="boton">
        <button type="button" onclick="salas.crear()">Crear Salas</button>
    </div>

    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>


