<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/salasAgregar" method="post" TYPE="text/css" MEDIA=screen>
<div id="nombreSalas">
    <label>Consejo</label>
    <input name="nombreSalas" id="nombreSalas" type="text" placeholder="nombreSalas">
</div>
<div id="capacidadSalas">
    <label>Salas</label>
    <input name="capacidadSalas" id="capacidadSalas" type="text" placeholder="capacidadSalas">
</div>