#logo img {
    position: absolute;
    top: 1% ;
    left: 1%;
    width: 13%;     
}
#is img {
    position: absolute;
    top: 30% ;
    left: 5%;
    width: 90%; 
    height: 90%; 
    border: 10px solid rgb(11, 39, 70); 
}
#sabias img {
    position: absolute;
    top: 145% ;
    left: 5%;
    width: 90%;
    height: 110%;  
    border: 10px solid rgb(11, 39, 70); 
}
#titulo{
    position: absolute;
    top:16% ;
    left:22% ;
    color: black;
    zoom: 425%;
  padding: 1%;
    background-color: whitesmoke;
    border: 3px solid rgb(11, 39, 70);
}

#inputDescripcionProyecto{
    position: absolute;
    text-align: justify;
    top: 58%;
    left:11% ;
    color: whitesmoke;
    width:50% ;
    height:50%;
    padding-top:4%;
    background-color: rgb(11, 39, 70);
    border: 8px solid black;
}
#inputMisionProyecto{
    position: absolute;
    text-align: justify;
    width:22% ;
    height:24%;
    top:120%;
    left:5%;
    background-color: whitesmoke;
    border: 8px solid black;
    color: rgb(11, 39, 70);
}
#inputVisionProyecto{
    position: absolute;
    text-align: justify;
    width:15% ;
    height:24%;
    top: 120%;
    left:40% ;
    background-color: whitesmoke;
    border: 8px solid black;
    color: rgb(11, 39, 70);
}
#inputObjetivosProyecto{
    position: absolute;
    text-align: justify;
    width:22% ;
    height:24%;
    top: 120%;
    right: 5%;
    background-color: whitesmoke;
    border: 8px solid black;
    color: rgb(11, 39, 70);
}
#button{
    position: absolute;
    top: 248%;
    left:43% ;
    color: rgb(11, 39, 70);
}
#inputCausasProyecto{
    position: absolute;
    text-align: justify;
    width: 40%;
    height: 36%;
    top: 210%;
    left:7%;
    padding:1%;
    padding-right:2.65%;
    background-color: rgb(11, 39, 70);
    color: whitesmoke;
    border: 8px solid black; 

}
#inputEfectosProyecto{
    position: absolute;
    top: 237%;
    left:52% ;
    width: 40%;
    height: 16%;
    background-color: rgb(11, 39, 70);
    color: whitesmoke;
    border: 8px solid black; 

}
