#encuesta{
    position:absolute;
    top: 30%;
    left:15%;
    zoom: 350%;
    padding: 1%;
    border: 10px solid rgb(11, 39, 70);
}
    #editar{
    position:absolute;
    top: 95%;
    left: 55%;
    }

   
    #titulo{
        position: absolute;
        top:0% ;
        left:20% ;
        color: whitesmoke;
        zoom: 385%;
        font-style:normal;
        
       
    }
