<link rel="stylesheet" href="/css/experiencias/experienciasEditar.css">
<div id="logo">
    <img src="/imagenes/logo.png" alt="">
</div>
<div id="contenedor">
    {{#each lista}}
    <form action="/experiencias/experienciasEditar/{{idExperiencias}}" method="post" >
    <div id="titulo">
        <p>Actualizar experiencias</p>
    </div>
    <div id="TemaExperiencias">
        <label>Título </label>
        <input type="text" name="temaExperiencias" value="{{temaExperiencias}}" required>
    </div>
    <div id="FechaExperiencias">
        <label>Ingrese la fecha</label>
        <input type="date" name="fechaExperiencias" value="{{fechaExperiencias}}" required>
    </div>
        <div id="VideoExperiencias">
        <label>Detalle experiencia</label>
        <input type="text" name="videoExperiencias" value="{{videoExperiencias}}" required>
    </div>
    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>

