<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/experiencias/experienciasAgregar" method="post" TYPE="text/css" MEDIA=screen>
 <div id="tExperiencias">
        <label>
            {{#each idMax}}
            Agregar Experiencias:
            <input type="text" name="idExperiencias" id="numero" value="{{'MAX(idExperiencias)'}}">
            {{/each}}
        </label>
    </div>
    <div id="tTemaExperiencias">
        <label>Ingresar Experiencias</label>
        <input type="text" name="temaExperiencias" id="TtemaExperiencias">
    </div>
    
    <div id="tFechaExperiencias">
        <label>Fecha Experiencias</label>
        <input type="text" name="fechaExperiencias" id="TfechaExperiencias">
    </div>
   
    <div id="boton">
        <button type="button" onclick="experiencias.crear()">Crear Experiencias</button>
    </div>

    <div id="tDetalleExperiencias">
        <label>Escribir Experiencias:</label>
        <textarea name="detalleExperiencias" id="TdetalleExperiencias" aria-checked="true" required
            maxlength="2000"></textarea>
    </div>
      <div id="boton">
        <button type="button" onclick="detalleForo.crear()">Crear Experiencias</button>
    </div>
    
    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>

