<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/experiencias/experienciasAgregar" method="post" TYPE="text/css" MEDIA=screen>

    <div id="tTemaExperiencias">
     <label for="temaExperiencias">Tema Experiencias</label>
        <input name="temaExperiencias" id="tTemaExperiencias" type="text" placeholder="temaExperiencias">
    </div>
    <div id="tFechaExperiencias">
        <label for="ingresar Fecha Experiencias">Fecha Experiencias</label>
        <input name="fechaExperiencias" id="tFechaExperiencias" type="text" placeholder="fechaExperiencias">
    </div>
    <div id="tVideo">
        <label for="ingresar video">Video Experiencias</label>
        <input name="video" id="tVideo" type="text" placeholder="video">
    </div>
</form>