<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="experienciasAgregar" method="post" TYPE="text/css" MEDIA=screen>
  <div id="iExperiencias">
        <label for="experiencias">Ingresar experiencias</label>
        <input name="experiencias" id="experiencias" type="text" placeholder="experiencias">
    </div>
    <div id="temaExperiencias">
        <label for="ingresar Experiencias">Ingresar Experiencias</label>
        <input name="temaExperiencias" id="temaExperiencias" type="text" placeholder="temaExperiencias">
    </div>
    <div id="fechaExperiencias">
        <label for="ingresar Fecha Experiencias">Ingresar Fecha Experiencias</label>
        <input name="fechaExperiencias" id="fechaExperiencias" type="text" placeholder="fechaExperiencias">
    </div>
    <div id="video">
        <label for="ingresar video">Ingresar video</label>
        <input name="video" id="video" type="text" placeholder="video">
    </div>
</form>