<link rel="stylesheet" href="/css/experiencias/experienciasAgregar.css">
<div id="logo">
    <img src="/imagenes/logo.png" alt="">
</div>
<div id="contenedor">
    <form action="/experiencias/experienciasAgregar/{{user.idUsuarios}}" method="post" >
    <div id="titulo">
        <p>Agregar experiencias</p>
    </div>
    <div id="TemaExperiencias">
        <label>Título </label>
        <input type="text" name="temaExperiencias" required>
    </div>
    <div id="FechaExperiencias">
        <label>Ingrese la fecha</label>
        <input type="date" name="fechaExperiencias" required>
    </div>
        <div id="VideoExperiencias">
        <label>Subir su video experiencia</label>
        <input type="text" name="videoExperiencias" required>
    </div>
    
    <div id="boton">
        <button type="submit">GUARDAR</button>
    </div>
    </div>
    </form>
</div>