<link rel="stylesheet" href="/css/login/login.css">
<div id="logo">
    <img src="/imagenes/" alt="">
</div>
<form action="/login" method="post" TYPE="text/css" MEDIA=screen>
    <div id="imagen">
        <img src="/imagenes/logo.jpeg">
    </div>
    <div id="tPrincipal">
        <h1>I S N T C</h1>
    </div>
    <div id="contenedor">
        <div id="titulo">
            <h2>INICIAR SESIÓN</h2>
        </div>
        <div id="iUsuario">
            <p>Ingresar usuario</p>
        </div>
        <div id="iContraseña">
            <p>Ingresar contraseña</p>
        </div>
        <div id="Usuario">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="button">
            <button type="submit">INGRESAR</button>
        </div>
        <div id="button2">
            <button type="submit">REGISTRARSE</button>
        </div>
    </div>

</form>