<link rel="stylesheet" href="/css/login/login.css">
<div id="logo">
    <img src="/imagenes/" alt="">
</div>
<form action="/login" method="post" TYPE="text/css" MEDIA=screen>
    <div id="imagen">
        <img src="/imagenes/logo.png">
    </div>
    <div id="tPrincipal">
        <h1>EL ARTE DE</h1>
        <h1>HACKEAR HUMANOS</h1>
    </div>
    <div id="contenedor">
        <div id="titulo">
            <h2>INICIAR SESIÓN</h2>
        </div>
        <div id="iUsuario">
            <label for="username">Ingresar usuario</label>
        </div>
        <div id="Usuario">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="iContraseña">
            <label for="password">Ingresar contraseña</label>
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="button">
            <button type="submit">INGRESAR</button>
        </div>
        <div id="o">
            <p>o</p>
            </div>
        <div id="button2">
           <a href="/registro"><button type="button">REGISTRARSE</button></a> 
        </div>
    </div>

</form>