<link rel="stylesheet" href="/css/login/registro.css">
<div id="logo">
    <img src="/imagenes/" alt="">
</div>
<form action="/registro" method="post" TYPE="text/css" MEDIA=screen>
    <div id="imagen">
        <img src="/imagenes/logo.jpeg">
    </div>
    <div id="tPrincipal">
        <h1>I S N T C</h1>
    </div>
    <div id="contenedor">
        <div id="titulo">
            <h2>REGISTRO</h2>
        </div>
        <div id="iNombres">
            <p>Ingresar nombres</p>
        </div>
        <div id="iEmail">
            <p>Ingresar email</p>
        </div>
        <div id="iUsuario">
            <p>Ingresar usuario</p>
        </div>
        <div id="iContraseña">
            <p>Ingresar contraseña</p>
        </div>
        <div id="Nombre">
            <input name="nombreCompleto" id="nombre" type="text" placeholder="nombre completo">
        </div>
        <div id="Email">
            <input name="email" id="email" type="text" placeholder="correo electronico">
        </div>
        <div id="Usuario">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="button">
            <button type="submit">REGISTRARSE</button>
        </div>
    </div>

</form>