<link rel="stylesheet" href="/css/login/registro.css">
<div id="logo">
    <img src="/imagenes/" alt="">
</div>
<form action="/registro" method="post" TYPE="text/css" MEDIA=screen>
    <div id="imagen">
        <img src="/imagenes/logo.png">
    </div>
    <div id="tPrincipal">
        <h1>"EL ARTE DE</h1>
        <h1>HACKEAR HUMANOS"</h1>
    </div>
    <div id="contenedor">
        <div id="titulo">
            <h2>REGISTRO</h2>
        </div>
        <div id="iNombres">
            <label for="nombreCompleto">Ingresar nombres</label>
        </div>
        <div id="Nombre">
            <input name="nombreCompleto" id="nombre" type="text" placeholder="nombre completo">
        </div>
        <div id="iEmail">
            <label for="email">Ingresar email</label>
        </div>
        <div id="Email">
            <input name="email" id="email" type="text" placeholder="correo electronico">
        </div>
        <div id="iUsuario">
            <label for="username">Ingresar usuario</label>
        </div>
        <div id="Usuario">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="iContraseña">
            <label for="password">Ingresar contraseña</label>
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="button">
            <button type="submit">REGISTRARSE</button>
        </div>
        <div id="o">
            <p>o</p>
            </div>
        <div id="button2">
           <a href="/login"><button type="button">Iniciar sesión</button></a> 
        </div>
    </div>

</form>