<link rel="stylesheet" href="/css/registro.css">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/registro" method="post" TYPE="text/css" MEDIA=screen>
    <div id="contenedor">
        <div id="titulo">
            <h2>REGISTRO</h2>
        </div>
        <div id="Nombre">
            <input name="nombreCompleto" id="nombre" type="text" placeholder="nombre completo">
        </div>
        <div id="Email">
            <input name="email" id="email" type="text" placeholder="correo electronico">
        </div>
        <div id="Usuario">
            <input name="username" id="usuario" type="text" placeholder="nombre usuario">
        </div>
        <div id="Contraseña">
            <input name="password" id="contraseña" type="password" placeholder="contraseña">
        </div>
        <div id="boton">
            <button type="submit">REGISTRARSE</button>
        </div>
    </div>

</form>