body{
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;  
}
#tPrincipal{
        position: absolute;
        top: 10%;
        left: 18%;
        color: whitesmoke;
       zoom: 160%;
       text-align: center; 
       font-style: normal;
}
#titulo{
    position: absolute;
    top:30% ;
    left: 17.5%;
    color: whitesmoke;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top: 2%;
    padding-bottom: 0.8%;
    padding-left: 12% ;
    padding-right:  12% ;
}
#Nombre{
    position: absolute;
    top: 41.6%;
    left: 32%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top:0.5%;
    padding-bottom:0.8%;
    padding-left:0.5% ;
    padding-right:4.35% ;
}
#Email{
    position: absolute;
    top: 48.9%;
    left: 32%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top:0.5%;
    padding-bottom:0.65%;
    padding-left:0.5% ;
    padding-right:4.35% ;
}
#Usuario{
    position: absolute;
    top: 55.9%;
    left: 32%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top:0.5%;
    padding-bottom:0.75%;
    padding-left:0.5% ;
    padding-right:4.35% ;
}
#Contraseña{
    position: absolute;
    top: 63.1%;
    left: 32%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:0.5% ;
    padding-right:4.35% ;
}
#button{
    position: absolute;
    top: 69.8%;
    left: 17.5%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 125%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:17.55% ;
    padding-right:6.95% ;
}
#button2{
    position: absolute;
    top: 76.5%;
    left: 17.5%;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 150%;
    padding-top:1.3%;
    padding-bottom:2%;
    padding-left:17.42% ;
    padding-right:6.6% ;
}
#iNombres{
    position: absolute;
    top: 41.6%;
    left: 17.5%;
    color: whitesmoke;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 120%;
    padding-top: 0.2%;
    padding-bottom: 1.25%;
    padding-left: 1% ;
    padding-right: 3.35%;
}
#iEmail{
    position: absolute;
    top: 49.2%;
    left: 17.5%;
    color: whitesmoke;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 120%;
    padding-top: 0.2%;
    padding-bottom: 1.25%;
    padding-left: 1% ;
    padding-right: 5.1%;
}
#iUsuario{
    position: absolute;
    top: 56.8%;
    left: 17.5%;
    color: whitesmoke;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 120%;
    padding-top: 0.2%;
    padding-bottom: 1.25%;
    padding-left: 1% ;
    padding-right: 3.95%;
}
#iContraseña{
    position: absolute;
    top: 64.4%;
    left: 17.5%;
    color: whitesmoke;
    background-color: rgba(94, 109, 125, 0.295);
    zoom: 120%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 1% ;
    padding-right: 1.95%;
}

#imagen img {
    position: absolute;
    top: 10% ;
    left: 0%;
    width: 15%;
    opacity: 0.5;  
}
