<link rel="stylesheet" href="/css/encuesta/encuestaLista.css">
<div id="logo">
    <img src="/imagenes/logo.png" alt="">
</div>
<form action="/encuesta/encuestaLista/{{user.idUsuarios}}" method="get" TYPE="text/css"  MEDIA=screen></form>
<div id="titulo">
        <p>Encuestas</p>
       
    </div>
{{#each traer}} 
<div id="encuesta"> 
    <object data="/encuestas/{{encuestas}}" type="application/pdf"></object>
</div>
<div id="editar">
    <a href="/encuesta/encuestaEditar/{{idEncuestas}}">
    <button>Editar</button></a>
</div>
{{/each}}



</form>
<script src="/js/numero.js"></script>