<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/foro/foroAgregar" method="post" TYPE="text/css" MEDIA=screen>
  <div id="tForo">
        <label>
            {{#each idMax}}
            Agregar Foro:
            <input type="text" name="idForos" id="numero" value="{{'MAX(idForos)'}}">
            {{/each}}
        </label>
    </div>

    </div>
    <div id="tTemaForo">
        <label>Ingresar Foro</label>
        <input type="text" name="temaForo" id="TtemaForo">
    </div>

    <div id="tFechaForo">
        <label>Ingresar Fecha:</label>
        <input type="text" name="fecha" id="TfechaForo">
    </div>
    
    <div id="tHoraFin">
        <label>Ingresar Hora:</label>
        <input type="text" name="horaFin" id="ThoraFin">
    </div>
    
    <div id="boton">
        <button type="button" onclick="foro.crear()">Crear Foro</button>
    </div>

    <div id="tDetalleForo">
        <label>Comentarios Foro:</label>
        <textarea name="comentariosDetalleForo" id="TdetalleForo" aria-checked="true" required
            maxlength="2000"></textarea>
    </div>
      <div id="boton">
        <button type="button" onclick="detalleForo.crear()">Crear Detalle Foro</button>
    </div>

    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>

