<link rel="stylesheet" href="/">
<div id="fondo">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/rol/rolAgregar" method="post" TYPE="text/css" MEDIA=screen> 

<div id="tNombreRol">
        <label>
            {{#each idMax}}
            Agregar Nombre Rol:
            <input type="text" name="(idRols" id="numero" value="{{'MAX((idRols)'}}">
            {{/each}}
        </label>
    </div>
    <div id="inputNombreRols">
        <label>Nombre Rol:</label>
        <input type="text" name="nombreRols" id="inputNombreRols">
    </div>
   
    <div id="boton">
        <button type="button" onclick="rols.crear()">Crear Rol</button>
    </div>

    <div id="button">
        <button type="submit">Guardar</button>
    </div>
    </div>
</form>


