#logo img {
    position: absolute;
    top: 10% ;
    left: 0%;
    width: 15%;
    opacity: 0.5;   
}
#titulo{
    position: absolute;
    top: 20%;
    left:20%;
    color:whitesmoke
}
#inputComentarios{
    position: absolute;
    top: 40%;
    left:20%;
    color:whitesmoke
}
