<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}

<nav>
  <div id="nav1">
    <a href="/proyecto/proyectoLista/{{user.idUsuarios}}">Proyectos</a>
  </div>

  <div id="nav2">
    <a href="/encuesta/encuestaLista/{{user.idUsuarios}}"> Encuestas</a>
  </div>
 
  <div id="nav3">
    <a href="/cerrarSesion"> Cerrar sesión </a>
  </div>

</nav>

{{/if}}  