<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="/detalleExperiencias/detalleAgregar" method="post" TYPE="text/css" MEDIA="screen">
    <div id="tDetalleExperiencias">
        <label for="detalleExperiencias" >Comentario experiencias</label>
        <input name="detalleExperiencias" id="tDetalleExperiencias" type="STRING(2000)," placeholder="detalleExperiencias">
    </div>

</form>