<link rel="stylesheet" href="/">
<div id="fond">
    <img src="/imagenes/fondo.jpeg" alt="">
</div>
<form action="detalleExperienciasAgregar" method="post" TYPE="text/css" MEDIA="screen"
    <div id="detalleExperiencias">
    <label >Comentario experiencias</label>
    <input name="detalleExperiencias" id="detalleExperiencias" type="text" placeholder="detalleExperiencias">
    </div>
</form>